<!-- Trong trang EJS (edit-product.ejs) -->
<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1>Edit Product</h1>
  
  <form action="/api/v1/product/update" method="post">
    <input type="hidden" name="productId" value="<%= product._id %>">
    <label for="productName">Tên:</label>
    <input type="text" id="productName" name="productName" value="<%= product.name %>" required>

    <label for="productPrice">Giá:</label>
    <input type="number" id="productPrice" name="productPrice" value="<%= product.price %>" required>

    <label for="productDescription">Mô tả:</label>
    <textarea id="productDescription" name="productDescription" required><%= product.description %></textarea>

    <label for="productimage">Url hình ảnh:</label>
    <input type="text" id="productimage" name="productimage" value="<%= product.image %>" required>

    <button type="submit">Cập nhật</button>
  </form>
 
</body>
</html>
